html {
    background-color: teal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

#answer-form{
    margin: auto;  
}

#answer-input{
    width: 700px;
    font-size: 1.5em;
    padding: 10px;
}
#submit-answer{
    padding: 10px;
    color: yellow;
    background-color: blue;
}

.clue-display {
    /* display:none; */
    height: 400px;
    width: 800px;
    background-color: lightskyblue;
    position: fixed;
    top: 20%;
    left: 20%;
    font-size: 3em;
    padding: 30px;
}

.main-container-div {
    margin: 50px;
}

.column-container {
    display: flex;
    flex-direction: row;
}

.column-component-div {
    padding: 10px;
    width: 300px;
    border: solid 2px black;
    border-bottom: solid 8px black;
    background-color: black;
}

.category-name {
    font-size: 2.5vw;
    height: 80px;
    text-align: center;
    margin: auto;
    color: white;
    text-transform: uppercase;
    background-color: blue;
    padding: 15px;
    padding-top: 15%;
    border-radius: 5px;
}

.card-component-div {
    padding: 10px;
    height: 80px;
    width: 100x;
    margin-top: 20px;
    /* border: solid 2px black; */
    background-color: rgb(4, 4, 194);
    text-align: center;
}

.point-value {
    padding: 20;
    font-size: 2.5em;
    text-shadow: 4px 5px black;
    vertical-align: middle;
    color: yellow;
}

